
/* CONTENT CONTAINER SECTION */
div.container {
    width:20%;
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top:5%;
}


/* Responsively change parameters according to screen size */
/* If screen width is less than 680 pixels do as follows*/
@media screen and (max-width:680px) {
    div.container { width:35%;}
}

@media screen and (max-width:500px) {
    div.container { width:55%;}
}

@media screen and (max-width:200px) {
    div.container { width:60%;}
}

.message{
    color:#4e575b;
    text-decoration:none;
    font-size:20px;
    padding-bottom:10px;
}

.message:hover{
    text-decoration:underline;
}

.name {
    font-size:20px;
    color:#4e575b;
    text-decoration:none;
}

.name:hover{
    text-decoration:underline;
}

.date {
    font-size:20px;
    color:#767676;
    text-decoration:none;
    font-family:"Roboto";
}

.textBox {
    font-size:20px;
    border:0px;
    color:#505050;
    width:200px;
    outline:0;
}
.button {
  position: relative;
  vertical-align: top;
  width: 200px;
  height: 60px;
  
  font-size:12px;
  color:#7f7fff;
  cursor:pointer;
}



.loading{
    font-size:20px;
    color:#4e575b;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: grey;
}
::-moz-placeholder { /* Firefox 19+ */
  color:grey;
}
:-ms-input-placeholder { /* IE 10+ */
  color:grey;
}
:-moz-placeholder { /* Firefox 18- */
  color:grey;
}
