@import url('https://fonts.googleapis.com/css?family=Roboto');

/* CONTENT CONTAINER SECTION */
div.container {
    font-family:"Manuale";
    font-size:1.1em;   
    width:20%;
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top:5%;
}


/* Responsively change parameters according to screen size */
/* If screen width is less than 680 pixels do as follows*/
@media screen and (max-width:680px) {
    div.container { width:35%;}
}

@media screen and (max-width:500px) {
    div.container { width:55%;}
}

@media screen and (max-width:200px) {
    div.container { width:60%;}
}

.message{
    font-weight:bold;
    color:#4e575b;
    text-decoration:none;
    font-size:22px;
    padding-bottom:10px;
    font-family:"Roboto";
}

.message:hover{
    text-decoration:underline;
}

.name {
    font-size:15px;
    font-weight:bold;
    color:#4e575b;
    text-decoration:none;
    font-family:"Roboto";
}

.name:hover{
    text-decoration:underline;
}

.date {
    font-size:16px;
    color:#767676;
    text-decoration:none;
    font-family:"Roboto";
}

.textBox {
    font-weight:bold;
    font-size:28px;
    border:0px;
    color:#505050;
    width:200px;
    outline:0;
}
.button {
  position: relative;
  vertical-align: top;
  width: 200px;
  height: 60px;
  padding: 0;
  font-size: 20px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #c0392b;
  border: 0;
  border-bottom: 2px solid #b53224;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #b53224;
  box-shadow: inset 0 -2px #b53224;
}
.button {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.loading{
    font-size:28px;
    color:#4e575b;
    font-weight:bold;
    font-family:"Roboto";
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #e9e9e9;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #e9e9e9;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #e9e9e9;
}
:-moz-placeholder { /* Firefox 18- */
  color: #e9e9e9;
}
