.container {
    width:200px;
    height:200px;

    position:relative;
    left:0; top:60; right:0; bottom:0;
    
    margin:auto;
}

body {
    font-family:Arial, sans-serif;
    color:#505050;
}

.message{
    color:#4e575b;
    text-decoration:none;
    font-size:20px;
    padding-bottom:10px;
}

.message:hover{
    text-decoration:underline;
}

.name {
    font-size:20px;
    color:#4e575b;
    text-decoration:none;
}

.name:hover{
    text-decoration:underline;
}

.date {
    font-size:20px;
    color:#767676;
    text-decoration:none;
    font-family:"Roboto";
}

.textBox {
    font-size:20px;
    border:0px;
    color:#505050;
    width:200px;
    outline:0;
}

.button {
  cursor:pointer;
  margin-bottom:10%;

}

.button:hover {
    border-bottom:1px solid lightgrey;
}



.loading{
    font-size:20px;
    color:#4e575b;
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #e9e9e9;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #e9e9e9;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #e9e9e9;
}
:-moz-placeholder { /* Firefox 18- */
  color: #e9e9e9;
}


/* Responsively change parameters according to screen size */
/* If screen width is less than 680 pixels do as follows*/
/* @media screen and (max-width:680px) { */
/*     div.container { width:35%;} */
/* } */

/* @media screen and (max-width:500px) { */
/*     div.container { width:55%;} */
/* } */

/* @media screen and (max-width:200px) { */
/*     div.container { width:60%;} */
/* } */
